html,
body {
    width: 100%;
    height: 100%;
    background: black;
    margin: 0 auto;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(..//Star-Wars-Crawl/space-1164579_1920.png);
    background-repeat: no-repeat;
}


@keyframes intro{
    0% {
        opacity: 1;
        transform: scale(0.8);
    }
    90%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

img {
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
    animation-name: intro;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
.a-long-time-ago {
    font-size: 32px;
    color: #4bd5ee;
    opacity: 0;
    animation-delay: 4s;
    animation-duration: 5s;
    animation-name: a-long-time-ago;
    animation-timing-function: ease-out;
    font-family: 'Russo One', sans-serif;
}

@keyframes a-long-time-ago {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    20% {
        transform: scale(1);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        
        opacity: 0;
    }
}

.crawl {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 800px;
    margin: 0 0 0 -400px;
    top: auto;
    bottom: 0;
    height: 100em;
    color: #ffdb66;    
    font-size: 66px;
    text-align: justify;
    transform-origin: center bottom;
    transform: perspective(300px) rotateX(25deg);
    font-family: 'Russo One', sans-serif;
}

.crawl > div {
    position: absolute;
    top: 100%; 
    animation-delay: 8s; 
    animation-duration: 70s;
    animation-name: crawl;
    animation-timing-function: linear;
}

@keyframes crawl {
    0% {
        top: 100%;
        opacity: 1;
    }

    99% {
        opacity: 1; 
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
.crawl > div:hover{
    animation-play-state: paused;
}
h1 {
    padding-left: 120px;
    color: #ffdb66; 
    text-align: center;
    margin: 0 auto;
    display: flex;
    font-family: 'Russo One', sans-serif;
    
}
h2{
    padding-left: 180px;
    color: #ffdb66; 
    text-align: center;
    margin: 0 auto;
    display: flex;
    font-family: 'Russo One', sans-serif;
    
}